// VERIABLES
$nawigacja-bgc: rgba(0, 0, 0, 0.8);
$nawigacja-main-color: rgb(255, 0, 0);
$nawigacja-sec-color: #fff;
$nawigacja-aktywny-color: rgb(6, 194, 6);
$hamburger-bgc: #fff;
$hamburger-todo-bgc: rgb(6, 194, 6);
// CODE
.nawigacja {
  width: 100%;
  max-width: 26.56rem;
  height: 100vh;
  background-color: $nawigacja-bgc;
  visibility: visible;
  position: absolute;
  opacity: 1;
  left: 0;
  transition: all 0.2s ease-in-out;
  z-index: 999;
  &--ukryj {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  &__aktywny {
    outline: none;
  }
  &__aktywny &__element {
    color: $nawigacja-aktywny-color;
  }

  &__element {
    z-index: -1;
    pointer-events: none;
  }

  &__lista {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;

    a {
      color: $nawigacja-sec-color;
      text-decoration: none;
      cursor: pointer;
      padding: 2rem;
      z-index: 0;

      &:active:focus {
        outline: none;
      }
      &:hover {
        color: $nawigacja-main-color;
      }
    }
  }

  @media screen and (min-width: 426px) {
    &__lista {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;

      a {
        color: $nawigacja-sec-color;
        text-decoration: none;
        cursor: pointer;
        padding: 2rem;

        &:hover {
          color: $nawigacja-main-color;
        }
      }
    }
  }
}

.hamburger {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  z-index: 9999;

  &__przycisk {
    width: 3rem;
    height: 3rem;
    font-size: 2em;
    color: $hamburger-bgc;
    &--todo {
      color: $hamburger-todo-bgc;
    }

    transition: 0.5s ease-in-out;
    &::before {
      content: "\2630";
    }

    &:hover {
      cursor: pointer;
    }

    &--aktywny {
      color: $nawigacja-main-color;
      transform: rotate(90deg);
      transition: 0.5s ease-in-out;
    }
  }

  @media screen and (min-width: 426px) {
    position: absolute;
    background: none;
  }
}
