// VERIABLES
$todo-color: rgb(6, 194, 6);
$todo-kolumna-color: #fff;
$todo-kolumnaAfter-border: 1px solid hsl(0, 1%, 79%);
$todo-przyciskDodaj-border: 1px solid hsl(0, 1%, 79%);
$todo-input-border: 1px solid hsl(0, 1%, 79%);
$todo-przyciskUsun-color: #000;
$todo-przyciskUsunHover-color: rgb(255, 0, 0);
$todo-element-border: 1px solid hsl(0, 1%, 79%);
$todo-SkreslonyElement-decoration: rgb(121, 120, 120) line-through;
$todo-SkreslonyElement-color: rgb(94, 85, 85);
// CODE
.todo {
  display: none;
  width: 100%;
  flex-direction: column;
  align-items: center;

  &__pokaz {
    display: flex;
  }

  &__tytul {
    font-size: 1.5rem;
    width: 100%;
    box-sizing: border-box;
    color: $todo-color;
    padding: 0.8rem 0 0.8rem 1rem;
    text-transform: uppercase;

    &--kolumna {
      padding-left: 0;
      position: relative;
      padding-left: 1rem;
      color: $todo-kolumna-color;
      background-color: $todo-color;

      &:after {
        content: "";
        width: 110%;
        height: 100%;
        border-bottom: $todo-kolumnaAfter-border;
        position: absolute;
        left: -1rem;
        bottom: 0;
      }
      @media screen and (min-width: 768px) {
        padding-left: none;
      }
    }
  }

  &__listy {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;

    @media screen and (min-width: 768px) {
      flex-direction: row;
    }
  }

  &__kolumna {
    display: flex;
    flex-direction: column;
    width: 100%;

    overflow-x: hidden;

    @media screen and (min-width: 768px) {
      text-align: center;
    }
  }

  &__dodaj {
    margin: 0.5rem;
    padding: 1rem;
    border: $todo-przyciskDodaj-border;
    border-radius: 0.3rem;
    position: relative;

    &:hover {
      color: $todo-color;
    }

    &:after {
      content: "";
      width: 120%;
      height: 100%;
      border-bottom: $todo-przyciskDodaj-border;
      position: absolute;
      left: -2rem;
      bottom: -0.6rem;
    }
  }

  &__input {
    margin: 0.5rem;
    padding: 0.2rem 0.1rem;
    border-radius: 0.3rem;
    font-size: 1rem;
    text-decoration: none;
    border: $todo-input-border;
    outline: none;
    display: none;

    &:focus {
      border-color: $todo-color;
    }

    &--pokaz {
      display: inline;
    }
  }

  &__opis {
    width: inherit;
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap;
    pointer-events: none;
  }

  &__usun {
    color: $todo-przyciskUsun-color;
    position: absolute;
    right: 0.5rem;
    cursor: pointer;

    &:hover {
      color: $todo-przyciskUsunHover-color;
    }
    @media screen and (min-width: 1024px) {
      display: none;
    }
  }

  &__element {
    margin: 0.5rem;
    padding: 0.5rem 0.5rem;
    border: $todo-element-border;
    border-radius: 0.3rem;
    width: calc(100% - 1rem);
    box-sizing: border-box;
    text-align: left;
    white-space: nowrap;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    position: relative;

    &:hover {
      .todo__usun {
        display: inline-block;
      }
    }

    &--skreslony {
      text-decoration: $todo-SkreslonyElement-decoration;
      color: $todo-SkreslonyElement-color;
    }
  }
}
